@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    margin: 0;
}

.movie{     
    background: #485563;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #29323c, #485563);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #29323c, #485563); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-radius:3px;
    box-shadow:0 4px 5px rgba(0,0, 0, 0.2);
    margin:2rem; 
    width:300px;
}

.movie img{
  object-fit: cover;
  height: 400px;
  width: 100%;
}

.movie-info{
    color:#eee;
    display:flex;
    justify-content: space-between;
    padding: 1rem;
    letter-spacing: 1px;
    padding:0.5rem 1rem 1rem;
}

.movie-info h3 {
     margin:0;
}

.movie-info span {
    background-color: #22254b;
    border-radius:3px;
    padding:0.25rem o.5rem;
}
